{% extends 'base.html' %}

{% block body_class %}dashboard-layout{% endblock %}

{% block navbar_center %}{% endblock %}

{% block navbar_action_prefix %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div class="d-flex dashboard-shell">
    <nav class="sidebar-dash">
        <ul class="dash-nav-list">{% block sidebar_nav %}{% endblock %}</ul>
    </nav>
    <div class="dashboard-content-shell">
        {% block dashboard_content %}{% endblock %}
    </div>
</div>
{% endblock %}
